## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [1]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [4]:
# Your code here

list1 = [i for i in range(0,101)]
sample_list_1 = random.sample(list1, 80)
print(sample_list_1)

[38, 68, 71, 0, 15, 77, 29, 99, 22, 65, 39, 70, 97, 51, 67, 84, 63, 34, 49, 19, 60, 98, 16, 28, 74, 10, 95, 66, 64, 55, 56, 30, 14, 44, 5, 2, 62, 23, 94, 85, 80, 87, 7, 35, 50, 72, 33, 88, 12, 18, 100, 48, 92, 42, 54, 17, 9, 76, 31, 93, 13, 82, 37, 25, 47, 24, 21, 90, 45, 58, 6, 78, 41, 89, 57, 81, 69, 86, 32, 43]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [6]:
# Your code here

set1 = set(sample_list_1)
print(len(set1))

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [8]:
# Your code here

list2 = [i for i in range(0,101)]
sample_list_2 = random.choices(list2, k = 80)
print(sample_list_2)

[26, 61, 73, 42, 25, 11, 60, 36, 27, 44, 53, 73, 43, 79, 17, 57, 97, 99, 48, 77, 41, 85, 80, 48, 63, 29, 85, 47, 70, 61, 61, 35, 78, 18, 23, 52, 8, 46, 31, 41, 80, 33, 16, 53, 70, 30, 16, 50, 92, 11, 90, 61, 100, 46, 22, 0, 45, 98, 84, 81, 31, 95, 16, 35, 60, 47, 79, 13, 57, 99, 89, 11, 53, 86, 71, 92, 75, 65, 37, 21]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [9]:
# Your code here

set2 = set(sample_list_2)
print(len(set2))

56

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [22]:
# Your code here

set3 = set([x for x in set1 if x not in set2])

print(set3)

{2, 5, 6, 7, 9, 10, 12, 14, 15, 19, 24, 28, 32, 34, 38, 39, 49, 51, 54, 55, 56, 58, 62, 64, 66, 67, 68, 69, 72, 74, 76, 82, 87, 88, 93, 94}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [23]:
# Your code here

set4 = set([x for x in set2 if x not in set1])

print(set4)

{36, 8, 73, 11, 75, 46, 79, 52, 53, 26, 27, 61}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [24]:
# Your code here

set5 = set([x for x in set1 if x in set2])

print(set5)

{0, 13, 16, 17, 18, 21, 22, 23, 25, 29, 30, 31, 33, 35, 37, 41, 42, 43, 44, 45, 47, 48, 50, 57, 60, 63, 65, 70, 71, 77, 78, 80, 81, 84, 85, 86, 89, 90, 92, 95, 97, 98, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [35]:
# Your code here

#len(set1) - len(set5) = len(set3)
#len(set2) - len(set4) = len(set5)


#len(set1) - len(set2) + len(set4) = len(set3)

#### Create an empty set called `set6`.

In [36]:
# Your code here

set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [41]:
# Your code here

set6.update(set3)
set6.update(set5)

80

#### Check if `set1` and `set6` are equal.

In [46]:
# Your code here

set7 = set1.intersection(set6)
print(len(set7))

# As the number of elements in the intersection of the two sets is the same than the number of elements of each individual
# set, they are EQUAL

80

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [50]:
# Your code here

print(set1.issubset(set2))

print(set1.issubset(set3))

# Sets 2 and 3 are not contained in set1

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [53]:
# Your code here

set8 = set3.union(set4).union(set5)

set9 = set1.union(set2)

print(set8.issubset(set9))

# Aggregated values are equal

True

#### Using the `pop` method, remove the first element from `set1`.

In [57]:
# Your code here

first_element = set1.pop()
print(first_element)

# It shall be noted that sets are not ordered. Therefore, element that has been removed is arbitrary and not the first.

2

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [58]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in set1:
    if i in list_to_remove:
        list_to_remove.remove(i)
        
print(list_to_remove)

[1, 11, 59, 61, 79, 91]